AgrigestEDI/AgrigestEDI/Web References/ActiUpdates/Updates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://actiupdates.actigram.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://actiupdates.actigram.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://actiupdates.actigram.com/">
      <s:import namespace="http://tempuri.org/dsUpdates.xsd" />
      <s:import schemaLocation="http://localhost/ActiUpdates/Updates.asmx?schema=dsUpdates" namespace="http://tempuri.org/dsUpdates.xsd" />
      <s:element name="GetUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="niveau" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdatesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/dsUpdates.xsd" name="namespace" />
                <s:attribute fixed="UpdatesDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdates" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatesResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdatesSoap">
    <wsdl:operation name="GetUpdates">
      <wsdl:input message="tns:GetUpdatesSoapIn" />
      <wsdl:output message="tns:GetUpdatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdatesSoap" type="tns:UpdatesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdates">
      <soap:operation soapAction="http://actiupdates.actigram.com/GetUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdatesSoap12" type="tns:UpdatesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdates">
      <soap12:operation soapAction="http://actiupdates.actigram.com/GetUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Updates">
    <wsdl:port name="UpdatesSoap" binding="tns:UpdatesSoap">
      <soap:address location="http://localhost/ActiUpdates/Updates.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdatesSoap12" binding="tns:UpdatesSoap12">
      <soap12:address location="http://localhost/ActiUpdates/Updates.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>